body {
  font-family: "Nunito Sans", sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1240px;
    padding-right: 86px;
    padding-left: 86px;
  }
}

.visuaaly-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1, h2, h3, h4, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-logo {
  font-family: "Rubik", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  text-align: center;
  color: #0B4141;
  margin-left: 20px;
}
@media screen and (min-width: 1200px) {
  .header-logo {
    margin-left: 50px;
    font-size: 26px;
  }
}

.header-nav-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.37;
    color: #0B4141;
    margin-left: auto;
  }
}

.header-nav__link {
  padding: 25px 0;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.header-nav__link:hover, .header-nav__link:focus, .header-nav__link:active {
  color: #FFCCBC;
}

.button-s1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.37;
  background-color: #0B4141;
  color: #FFCCBC;
  border-radius: 124px;
  border: none;
  min-width: 93px;
  padding: 5px 15px;
  margin-left: auto;
  margin-right: 20px;
  -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.button-s1:hover, .button-s1:focus, .button-s1:active {
  background-color: #FFCCBC;
  color: #0B4141;
}
@media screen and (min-width: 1200px) {
  .button-s1 {
    padding: 12px 43px;
    font-size: 16px;
    margin-left: 48px;
    min-width: 163px;
    margin-right: 0;
  }
}

.s2 {
  position: relative;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 200px;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .s2 {
    padding-bottom: 350px;
  }
}

.s2-container {
  padding-right: 50px;
  padding-left: 50px;
}
@media screen and (min-width: 1200px) {
  .s2-container {
    padding-right: 200px;
    padding-left: 200px;
  }
}

.title-s2 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 36px;
  color: #FFCCBC;
}
@media screen and (min-width: 1200px) {
  .title-s2 {
    font-size: 130px;
  }
}

.title-s2--black {
  position: absolute;
  bottom: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(45.83%, #0b4141), color-stop(45.84%, #0b1f1f));
  background-image: linear-gradient(180deg, #0b4141 45.83%, #0b1f1f 45.84%);
  -webkit-background-clip: text;
          background-clip: text;
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  .title-s2--black {
    font-size: 130px;
    position: absolute;
    bottom: 18%;
    left: 50%;
    -webkit-transform: translate(-50%, -18%);
            transform: translate(-50%, -18%);
  }
}

.img-s2 {
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 400px;
}
@media screen and (min-width: 768px) {
  .img-s2 {
    left: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .img-s2 {
    width: 1100px;
    position: absolute;
    bottom: -7%;
    left: 20%;
  }
}

.circle-list-item {
  position: absolute;
}
.circle-list-item:nth-child(1) {
  top: 10%;
  left: 6%;
}
.circle-list-item:nth-child(2) {
  top: 55%;
  left: 5%;
}
.circle-list-item:nth-child(3) {
  top: 20%;
  right: 18%;
}
.circle-list-item:nth-child(4) {
  top: 65%;
  right: 25%;
}
.circle-list-item:nth-child(5) {
  top: 50%;
  right: 5%;
}
.circle-list-item:nth-child(6) {
  top: 75%;
  left: 25%;
}

.circle {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #FFCCBC;
  opacity: 0.5;
}

.s3 {
  background-color: #FFCCBC;
  background-image: url(../images/s3/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 768px) {
  .s3 {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .s3 {
    padding-top: 196px;
    padding-bottom: 160px;
  }
}

.s3-container {
  padding-right: 50px;
  padding-left: 50px;
}
@media screen and (min-width: 768px) {
  .s3-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .s3-container {
    padding-right: 300px;
    padding-left: 300px;
  }
}

.title-s3 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title-s3 {
    font-size: 90px;
  }
}

.text-s3 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.text-s3:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .text-s3 {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .text-s3 {
    font-size: 24px;
  }
}

.s4 {
  background-color: #0b4141;
  padding-top: 80px;
  padding-bottom: 130px;
  background-image: url(../images/s4/img.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media screen and (min-width: 1200px) {
  .s4 {
    padding-top: 100px;
    padding-bottom: 85px;
  }
}

.s4-container {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 768px) {
  .s4-container {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .s4-container {
    padding-left: 90px;
    padding-right: 0;
    text-align: left;
  }
}

.title-s4 {
  font-weight: 900;
  font-size: 28px;
  line-height: 1.05;
  color: #FFCCBC;
  margin-bottom: 20px;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  .title-s4 {
    font-size: 68px;
    width: 470px;
    line-height: 1.05;
    margin-bottom: 32px;
  }
}

.text-s4 {
  width: 250px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #FFCCBC;
  margin-bottom: 48px;
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .text-s4 {
    font-size: 22px;
    width: 470px;
    margin-left: 0;
    line-height: 1.66;
  }
}

.button-s4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #FFCCBC;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid #FFCCBC;
  border-radius: 100px;
  text-shadow: 0.07em 0 #0B4141;
  -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.button-s4:hover, .button-s4:focus, .button-s4:active {
  background-color: #FFCCBC;
  color: #0B4141;
}
@media screen and (min-width: 1200px) {
  .button-s4 {
    font-size: 18px;
    padding: 14px 31px;
    line-height: 1.78;
  }
}

.s5 {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .s5 {
    display: none;
  }
}

.s5-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.s5-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 70px;
  padding-left: 70px;
  text-align: center;
}

.img-s5--left {
  width: 580px;
  height: 500px;
}

.title-s5--right {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 1.06;
  color: #FFCCBC;
  margin-bottom: 32px;
}

.img-s5--right {
  width: 400px;
  height: 440px;
  margin-left: 100px;
}

.title-s5--left {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 1.06;
  color: #0B4141;
  margin-bottom: 32px;
}

.text-s5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #0B4141;
}

.s6 {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.6);
  background-image: url(../images/s6/img.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .s6 {
    padding-bottom: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .s6 {
    padding-top: 120px;
    padding-bottom: 370px;
  }
}

.s6-container {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (min-width: 1200px) {
  .s6-container {
    padding-left: 250px;
    padding-right: 250px;
  }
}

.title-s6 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.06;
  color: #FFCCBC;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .title-s6 {
    font-size: 80px;
  }
}

.text-s6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.33;
  color: #0B4141;
  margin-bottom: 20px;
}
.text-s6:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .text-s6 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}

.text-s6--bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  color: #0B4141;
}
@media screen and (min-width: 1200px) {
  .text-s6--bold {
    font-size: 24px;
  }
}

.s7 {
  position: relative;
  padding-top: 64px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url(../images/s7/img.png), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 204, 188, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background-image: url(../images/s7/img.png), linear-gradient(to bottom, rgba(255, 204, 188, 0.9), rgba(255, 255, 255, 0.9));
  background-size: cover, cover;
}
@media screen and (min-width: 1200px) {
  .s7 {
    padding-bottom: 170px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .s7-container {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.title-s7 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.06;
  color: #ffffff;
  margin-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .title-s7 {
    font-size: 68px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .article-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .article-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .article-list {
    -ms-flex-preferred-size: 304px;
        flex-basis: 304px;
  }
}

.article-list-item {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 8px;
  margin-bottom: 24px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.article-list-item:nth-child(2n) {
  display: none;
}
@media screen and (min-width: 1200px) {
  .article-list-item:nth-child(2n) {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .article-list-item:nth-child(2n) {
    -ms-flex-preferred-size: 304px;
        flex-basis: 304px;
  }
}

.feedback {
  padding: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: #0B4141;
}
@media screen and (min-width: 1200px) {
  .feedback {
    font-size: 13px;
    line-height: 1.38;
  }
}

.author-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-s7 {
  width: 30px;
}
@media screen and (min-width: 1200px) {
  .img-s7 {
    width: 48px;
  }
}

.name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}
@media screen and (min-width: 1200px) {
  .name-wrap {
    margin-top: 0;
  }
}

.author {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.18;
  color: #0B4141;
  margin-left: 12px;
  margin-bottom: 4px;
}
@media screen and (min-width: 1200px) {
  .author {
    font-size: 16px;
  }
}

.article-test {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  color: #0B4141;
  margin-left: 12px;
}
@media screen and (min-width: 1200px) {
  .article-test {
    font-size: 14px;
  }
}

.s8 {
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .s8 {
    display: none;
  }
}

.s8-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-list--s8 {
  height: 665px;
}

.list-item--s8:nth-child(1) {
  width: 300px;
  margin-left: 60px;
}
.list-item--s8:nth-child(2) {
  width: 218px;
  margin-left: 300px;
}
.list-item--s8:nth-child(3) {
  width: 255px;
  margin-top: -70px;
}

.s8-title-wrap {
  width: 505px;
}

.title-s8 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 68px;
  line-height: 1.06;
  color: #0B4141;
  margin-bottom: 32px;
}

.text-s8 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #0B4141;
  margin-bottom: 48px;
}

.button-s8 {
  min-width: 225px;
  height: 54px;
  border: 2px solid #0b4141;
  border-radius: 100px;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: #0B4141;
  background-color: transparent;
}

.s9 {
  padding-top: 0;
  padding-bottom: 194px;
  background-image: url(../images/s9/img.png), radial-gradient(circle at bottom right, #FFCCBC 3%, #ffffff 30%);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right -50px, bottom right;
  background-size: 400px;
}
@media screen and (min-width: 1200px) {
  .s9 {
    padding-top: 180px;
    padding-bottom: 94px;
    background-size: 1100px;
  }
}

.s9-container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .s9-container {
    margin-left: 80px;
    width: 500px;
  }
}

.app-store-link {
  width: 40px;
  height: 40px;
}

.app-store-icon {
  margin-bottom: 22px;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 1200px) {
  .app-store-icon {
    margin-bottom: 32px;
    width: 118px;
    height: 118px;
  }
}

.title-s9 {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.06;
  color: #0B4141;
  margin-bottom: 22px;
}
@media screen and (min-width: 1200px) {
  .title-s9 {
    font-size: 68px;
    margin-bottom: 32px;
  }
}

.text-s9 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0B4141;
  margin-bottom: 48px;
}
@media screen and (min-width: 1200px) {
  .text-s9 {
    font-size: 24px;
    line-height: 1.33;
  }
}

.text-s9--bold {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  color: #0B4141;
}
@media screen and (min-width: 1200px) {
  .text-s9--bold {
    font-size: 24px;
    line-height: 1.33;
  }
}

.button-s9 {
  min-width: 150px;
  height: 30px;
  border: 2px solid #0b4141;
  border-radius: 100px;
  padding: 5px 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.05;
  color: #0B4141;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.button-s9:hover, .button-s9:focus, .button-s9:active {
  background-color: #0B4141;
  color: #FFCCBC;
}
@media screen and (min-width: 1200px) {
  .button-s9 {
    font-size: 18px;
    line-height: 1.38;
    padding: 14px 20px;
    min-width: 225px;
    height: 54px;
  }
}

.s10 {
  background-color: #0B4141;
  padding-top: 106px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .s10 {
    padding-top: 236px;
    padding-bottom: 94px;
  }
}

.s10-container {
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  .s10-container {
    padding-right: 250px;
    padding-left: 250px;
  }
}

.footer-title {
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-size: 38px;
  letter-spacing: 0.02em;
  color: #FFCCBC;
  margin-bottom: 28px;
}
@media screen and (min-width: 1200px) {
  .footer-title {
    font-size: 90px;
    margin-bottom: 48px;
  }
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
@media screen and (min-width: 1200px) {
  .btn-list {
    gap: 48px;
    margin-bottom: 96px;
  }
}

.footer-btn {
  cursor: pointer;
  border: 2px solid #FFCCBC;
  border-radius: 300px;
  min-width: 124px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: #FFCCBC;
  border-bottom: 2px solid #0B4141;
  -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.footer-btn:hover, .footer-btn:focus {
  background-color: #FFCCBC;
  color: #0B4141;
  font-weight: 700;
  border-bottom: none;
}
@media screen and (min-width: 1200px) {
  .footer-btn {
    min-width: 264px;
    height: 82px;
    font-size: 16px;
    padding: 25px 40px;
  }
}

.footer-btn-icon {
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .footer-btn-icon {
    margin-right: 12px;
  }
}

.btn-img {
  width: 26px;
  height: 15px;
  margin-right: 4px;
}
@media screen and (min-width: 768px) {
  .btn-img {
    width: 34px;
    height: 30px;
    margin-right: 12px;
  }
}

.footer-logo {
  margin-left: -30%;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-left: -30%;
  }
}

.logo {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #FFCCBC;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 20px;
  }
}

.logo-uppertitle {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.37;
  color: #FFCCBC;
}
@media screen and (min-width: 1200px) {
  .logo-uppertitle {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */