.s10 {
  background-color: $main-color;
  padding-top: 106px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-top: 236px;
    padding-bottom: 94px;
  }
}

.s10-container {
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;

  @media screen and (min-width: 1200px) {
    padding-right: 250px;
    padding-left: 250px;
  }
}

.footer-title {
  font-family: $title-font;
  font-weight: 900;
  font-size: 38px;
  letter-spacing: 0.02em;
  color: $pink-color;
  margin-bottom: 28px;
  text-shadow: 1px 1px 1px #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 90px;
    margin-bottom: 48px;
  }
}
.btn-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 80px;

  @media screen and (min-width: 1200px) {
    gap: 48px;
    margin-bottom: 96px;
  }
}

.footer-btn {
  cursor: pointer;
  border: 2px solid $pink-color;
  border-radius: 300px;
  min-width: 124px;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  color: $pink-color;
  border-bottom: 2px solid $main-color;
  transition: background-color $transition, color $transition;

  &:hover,
  &:focus {
    background-color: $pink-color;
    color: $main-color;
    font-weight: 700;
    border-bottom: none;
  }

  @media screen and (min-width: 1200px) {
    min-width: 264px;
    height: 82px;
    font-size: 16px;
    padding: 25px 40px;
  }
}

.footer-btn-icon {
  margin-right: 5px;
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.btn-img {
  width: 26px;
  height: 15px;
  margin-right: 4px;

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 30px;
    margin-right: 12px;
  }
}

.footer-logo {
  margin-left: -1%;
  text-align: left;

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: -30%;
  }
}

.logo {
  font-family: $title-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $pink-color;
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.logo-uppertitle {
  font-weight: 600;
  font-size: 10px;
  line-height: 1.37;
  color: $pink-color;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
