.s7 {
  position: relative;
  padding-top: 64px;
  padding-bottom: 90px;
  text-align: center;
  background-image: url(../images/s7/img.png),
    linear-gradient(
      to bottom,
      rgba(255, 204, 188, 0.9),
      rgba(255, 255, 255, 0.9)
    );
  background-size: cover, cover;

   @media screen and (min-width: 1200px){
    padding-bottom: 170px;
   }
}

.s7-container{
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.title-s7 {
  font-family: $title-font;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.06;
  color: #ffffff;
  margin-bottom: 24px;

  @media screen and (min-width: 1200px){
     font-size: 68px;
     margin-bottom: 64px;
  }

}

.article-wrap {

   @media screen and (min-width: 1200px){
    justify-content: center;
     display: flex;
    gap: 24px;
   }
}

.article-list {

  @media screen and (min-width: 1200px){
     flex-basis: 304px;
  }
}
.article-list-item {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  margin-bottom: 24px;

    &:nth-child(2n) {
  display: none;

  @media screen and (min-width: 1200px){
    display: contents;
  }
}
}

.feedback {
  padding: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: $main-color;
  @media screen and (min-width: 1200px){
     font-size: 13px;
  line-height: 1.38;
  }
}

.author-wrap {
  display: flex;
  align-items: center;
}

.img-s7 {
  width: 30px;
  @media screen and (min-width: 1200px){
      width: 48px;
  }
}

.name-wrap {
  display: flex;
  flex-wrap: wrap;
margin-top: 5px;
  @media screen and (min-width: 1200px){
    margin-top: 0;
  }
}

.author {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.18;
  color: $main-color;
  margin-left: 12px;
@media screen and (min-width: 1200px){
font-size: 16px;
}

}
.article-test {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.18;
  color: $main-color;
  margin-left: 12px;
  @media screen and (min-width: 1200px){
font-size: 14px;
  }
}

.s7-img {
  display: none;

  @media screen and (min-width: 1200px){
     position: absolute;
    bottom: 0;
  left:40%;
  width: 440px;
  height: 280px;
  }
}
