.s8 {
  text-align: center;

  @media screen and (min-width: 320px) and (max-width: 1199px){
   display: none;
   }
}

.s8-container {
  display: flex;
  align-items: center;
  gap: 160px;
  justify-content: center;
}

.img-list--s8 {
  height: 665px;
}

.list-item--s8 {
  &:nth-child(1) {
    width: 300px;
    margin-left: 60px;
  }
  &:nth-child(2) {
    width: 218px;
    margin-left: 300px;
  }
  &:nth-child(3) {
    width: 255px;
    margin-top: -70px;
  }
}

.s8-title-wrap {
  width: 505px;
}

.title-s8 {
  font-family: $title-font;
  font-weight: 900;
  font-size: 68px;
  line-height: 1.06;
  color: $main-color;
  margin-bottom: 32px;
}
.text-s8 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: $main-color;
  margin-bottom: 48px;
}

.button-s8 {
  min-width: 225px;
  height: 54px;
  border: 2px solid #0b4141;
  border-radius: 100px;
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.38;
  color: $main-color;
  background-color: transparent;
}
